dj-database-url==0.4.1
Django==1.11.28
psycopg2==2.6.2
whitenoise==2.0.6
bitly-api==0.3
bitlyapi==0.1.1
certifi==2017.4.17
chardet==3.0.4
chicken==0.1.0
click==6.7
egg==0.2.0
ez-setup==0.9
Flask==0.12.2
future==0.16.0
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pycurl==7.43.0
python-Levenshtein==0.12.0
redis==2.10.5
requests==2.18.1
rq==0.8.0
urllib3==1.21.1
urlopen==1.0.0
Werkzeug==0.12.2
bitly-api==0.3
bitlyapi==0.1.1
certifi==2017.4.17
chardet==3.0.4
chicken==0.1.0
click==6.7
egg==0.2.0
ez-setup==0.9
Flask==0.12.2
future==0.16.0
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pycurl==7.43.0
python-Levenshtein==0.12.0
redis==2.10.5
requests==2.18.1
rq==0.8.0
urllib3==1.21.1
urlopen==1.0.0
Werkzeug==0.12.2
